body {
  text-align: center;
}

.footer {
  margin-top: 80vh;
}

.if-empty {
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-input {
  margin-bottom: 10px;
}

.results {
  margin-top: 100px;
  margin-bottom: 100px;
}

.results a {
  color:brown;
}
