@{
  Layout = "_Layout";
}
<div class="container">
<h1>Welcome to your MVC web application, Claire!</h1>
<p>@ViewBag.PageTitle</p>
<p>@Html.ActionLink("See a list of your stylists", "Index", "Stylists")</p>
</div>