@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<div class="stylists-details">
<h3>Name: @Html.DisplayFor(model => model.Name)<h3>
  
</div>

<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Add client", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>